{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "react/no-unescaped-entities": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
